<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FindUnit</title>
    <link rel="icon" href="{{ url_for('static', filename='img/search.png') }}">
    <link href="{{ url_for('static', filename='bootstrap-5.2.3-dist/css/bootstrap.css') }}" rel="stylesheet">
    <link href="static/css/headers.css" rel="stylesheet">
  </head>
  <body>
    <!-- header -->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
            <img src="static/img/search.png" alt="" width="25px" style="margin-right: 5px;">
            <span class="fs-4">FindUnit</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
          </ul>
        </header>
    </div>
    <!-- header end -->
    
    <script src="{{ url_for('static', filename='bootstrap-5.2.3-dist/js/bootstrap.bundle.js') }}"></script>
  </body>
</html>